:root {
  --prototip: #141312;
  --tekst: #1a212f;
  --oranzhevyy: #ff7236;
  --zheltyy: #fac663;
  --belyy: #fffefd;
  --white: #ffff;

  --font-family: "Lato", sans-serif;
  --second-family: "Rubik", sans-serif;
  --third-family: "Boomboom", sans-serif;
}

/* :hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
} */
