@import url(style/reset.css);
@import url(style/basic.css);
@import url(style/variables.css);
@import url(style/header.css);
@import url(style/hero.css);
@import url(style/mob.css);
@import url(style/advantage.css);
@import url(style/numbers.css);
@import url(style/reviews.css);
@import url(style/contact.css);
@import url(style/numbers__page.css);
@import url(style/saler.css);
@import url(style/modal.css);
@import url(style/footer.css);





