@import url(reset.css);
@import url(basic.css);
@import url(variables.css);
@import url(header.css);
@import url(hero.css);
@import url(mob.css);
@import url(advantage.css);
@import url(numbers.css);
@import url(reviews.css);
@import url(contact.css);
@import url(numbers__page.css);
@import url(saler.css);
@import url(modal.css);
@import url(footer.css);


